@inherits BaseRazorComponent
<div>
    <p>@Message</p>
</div>
<div class="row mt-4 mb-3">
    <div class="col d-flex justify-content-end gap-2">
        <RadzenButton ButtonStyle="ButtonStyle.Primary"
                      Text="@ButtonText"
                      Click="@(() => DialogService.Close())" />
    </div>
</div>

@code {

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ButtonText { get; set; }
}
