@inherits BaseRazorComponent

<div class="d-flex align-items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="currentColor"
         width="10"
         height="10"
         viewBox="0 0 16 16"
         class="@StatusClass">
        <circle cx="8"
                cy="8"
                r="4"/>
    </svg>
    @ChildContent
</div>
