@page "/user-profile/signature-collection"
@using SE.TruckTicketing.Client.Components.Profile
@inherits BaseRazorComponent

<h3 class="m-3">Signature Collection</h3>

<div class="container">
    <div class="d-flex center m-3">
        <SignatureCollection/>
    </div>
</div>
