@inherits SingleSelectDropDownFilter
@typeparam TOutputValue

<h6 class="small-grey-label col-sm-12 mb-2" style="font-weight:bold">
    @FilterOptions.Label
</h6>
<div class="form-group col-sm-12">
    <RadzenDropDown TValue="string"
                    Data=@ListData
                    @bind-Value="@bindValue"
                    TextProperty="Display" 
                    Change="OnSelectionChanged" 
                    ValueProperty="Value"
                    AllowClear="@FilterOptions.AllowClear"
                    AllowFiltering="@FilterOptions.AllowFiltering"
                    Placeholder="Select...."
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Class="w-100"/>
</div>