@using Trident.Api.Search
@inherits FilterComponent<bool>

<div>
    <RadzenLabel Text="Show Aged Tickets"
                 Class="filter-label"/>
    <div class="d-flex position-relative">
        <RadzenSwitch @bind-value="@_showAgedTickets" Change="@HandleChange" MouseEnter="@(args => ShowAgedTooltip(args))"></RadzenSwitch>
    </div>
</div>


