<div style="background-color: #0d5aa7; text-align: right; color: white; padding: 0.5rem 1rem">
    <small style="font-size: .75rem">Truck Ticketing</small>
    <div style="font-weight: bold; padding-bottom: .35rem">@CurrentEnvironment</div>
    <small style="font-size: .75rem">Version</small>
    <div>@CurrentVersion</div>
</div>
